__pycache__/
*.pyc
.ipynb_checkpoints/

outputs/generated_data/*
outputs/models/*
outputs/plots/*
outputs/reports/*
outputs/workflows/*

!outputs/generated_data/.gitkeep
!outputs/models/.gitkeep
!outputs/plots/.gitkeep
!outputs/reports/.gitkeep
!outputs/workflows/.gitkeep

.env
*.pkl
*.pt
*.pth